<div class="col-10 offset-1 about">
  <h1 class="about-title">About Splurty</h1>
  <div class="row">
    <div class="col-12 col-sm-4 about-image">
      <%= image_tag 'josh.jpg', class: 'rounded img-fluid' %>
    </div>
  </div>
  <br />
  <p>Splurty was built by Josh Bangle, a web developer from Dallas, TX. It's his very first web app, and that's probably pretty obvious.</p>
  
  <br />
  <p>Josh was able to make this app while learning to code at Boot Camp Spot. If you want to learn to code too, <a target="_blank" href="https://online.bootcampspot.com">start here</a>.</p>
</div>